@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
	<div class="col-md-4">
		<p>
			@Html.ActionLink("Список арендуемых помещений", "ListRentalSpaces")
		</p>
	</div>
	<div class="col-md-4">
		<p>
			@Html.ActionLink("Работники", "Index", "Employee")
		</p>
		<p>
			@Html.ActionLink("Товары", "Index", "Home")
		</p>
	</div>
</div>