@model FinalTaskShop.ViewModels.ForEmployee.BonusOrFineViewModel

<hr />
<dl class="dl-horizontal">
	<dt>
		@Html.DisplayName("Сотрудник")
	</dt>
	<dd>
		@Html.Label($"{ViewBag.Employee.Name} {ViewBag.Employee.SurName} {ViewBag.Employee.Patronymic}");
	</dd>
</dl>

<div>
	@Html.ActionLink("К списку", "ListBonusOrFines")
</div>

