@model FinalTaskShop.ViewModels.ForEmployee.BonusOrFineViewModel

<hr />
<dl class="dl-horizontal">
	<dt>
		@Html.DisplayName("Сотрудник")
	</dt>
	<dd>
		@Html.DisplayFor(model => model.EmployeeId);
	</dd>
</dl>

<div>
	@Html.ActionLink("К списку", "ListBonusOrFines")
</div>

